Example call using Javascript
<pre>
    <code>
        try {
            const response = await fetch(baseUrl + endpoint, {
                method: 'POST',
                body: JSON.stringify({
                    inputString: encodedInputString
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            const json = await response.json()
            const transformedString = json.result
            document.querySelector('#responseBox').textContent = transformedString
    
        }
        catch (exception) {
            alert('Error executing regex, try again later! Contact developer for support')
            throw exception
        }
    </code>
</pre>

<code>POST https://readable-regex-8d81b79167bf.herokuapp.com/api

Endpoints:
onlyNumbers
onlyLetters
onlySpecialCharacters
isEmailAddress
isPhoneNumber
isInteger
isAlphaNumeric

Params:
inputString: string

example: "1+323_%8&3a"
Response:
<pre>
            <code>
            {
                result: string
            }
        </code>
    </pre>
Result is the transformed string
<pre>
                <code>
            example for onlyLetters:
                {
                    result: 'a'
                }
            </code>
        </pre>